.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: right;
  margin-left: -100px;
}

.containerMobile {
  margin-left: 0;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  flex: 1;
  transform: translateX(-15vw);
  position: absolute;
  z-index: 1;
}

.contentMobile {
  transform: translateX(0);
  top: 10%;
  width: 100%;
  text-align: center;
}

.title {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9);
  font-family: Georgia, sans-serif !important;
  color: #d3d3d3;
  font-size: 4vw;
}

.titleMobile {
  font-size: 8vw;
}

.background {
  flex: 1;
  background-image: url('/profile-pic.jpeg');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: -50%;
  opacity: 0.6;
  padding: 150px 200px;
  box-sizing: border-box;
  box-shadow: inset 0 0 70px 50px black;
}

.backgroundMobile {
  margin-right: 0;
  padding: 100px 50px;
  height: 100vh;
}

.aboutSection {
  padding-top: 50px;
}
.contactSection {
  padding-top: 50px;
}
/* Media Queries */
@media (max-width: 600px) {
  .container {
    margin-left: 0;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .content {
    transform: translateX(0);
    top: 10%;
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 8vw;
  }

  .background {
    margin-right: 0;
    padding: 100px 50px;
    height: 100vh;
  }
}
